
*.tmp
*.bak
*.swp
*.pid
*.cache
*.png
*.kml
*.kmz
utils/folium_geojson_only.html
utils/folium_map.html
temporary_data/*combined_data_with_corrections.csv
# Ignore files with HOLD anywhere in the name (case-insensitive)
*[Hh][Oo][Ll][Dd]*

# Ignore files with JUNK anywhere in the name (case-insensitive)
*[Jj][Uu][Nn][Kk]*
# Ignore files with LOG anywhere in the name (case-insensitive)
*[Ll][Oo][Gg]*

# Ignore files with BACKUP anywhere in the name (case-insensitive)
*[Bb][Aa][Cc][Kk][Uu][Pp]*
__pycache__/
*.pyc
